.search-form {
  z-index: 6;
  padding-top: 10px;
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  font-size: 16px;
  position: absolute;
  right: 30px;
}

.mat-input-element {
  color: white;
}

.input-full-width {
  width: 100%;
}

.top-bar {
  z-index: 5;
  top: 0;
  position: fixed;
  height: 72px;
}

#sonata-brand {
  height: 40px;
  cursor: pointer;
}